// Base CSS framework
@import '../../include/style/base'
// Helper classes & mixins
@import '../../include/style/helper'
// Icarus components
@import '../../include/style/button'
@import '../../include/style/card'
@import '../../include/style/article'
@import '../../include/style/navbar'
@import '../../include/style/footer'
@import '../../include/style/pagination'
@import '../../include/style/timeline'
@import '../../include/style/search'
@import '../../include/style/codeblock'
@import '../../include/style/widget'
@import '../../include/style/donate'
@import '../../include/style/plugin'
@import '../../include/style/responsive'


.article
    .article-meta
        margin-bottom: 0.5rem !important
    h1.title
        color: darken(goldenrod, 10%)
    .content
        font-size: 1.1rem
        blockquote.pullquote
            float: right
            max-width: 50%
            font-size: 1.15rem
            position: relative
        .gallery-item img
            border: 1px solid #ddd
        table
          display: block
          overflow-x: auto
        h1, h2, h3
          color: #072
        h1
          counter-reset: h2
          counter-increment: h1
          &::before
            content: counter(h1, cjk-ideographic) '. '
        h2
          counter-reset: h3
          counter-increment: h2
          &::before
            content: counter(h1) '.' counter(h2) '. '
        h3
          counter-increment: h3
          &::before
            content: counter(h1) '.' counter(h2) '.' counter(h3) '. '
